.Card {
  background-color: rgb(220, 19, 103);
  border-radius: 50px;
  padding: 50px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  flex-grow: 3;
  box-shadow: 0 0 10px rgb(198, 165, 234);
}

